* {
  color: rgb(0, 21, 41);
}
mat-card {
  max-width: 100%;
  padding: 10px;
  margin: auto;
  text-align: center;
}
mat-form-field {
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  background-color: transparent;
}
button {
  margin: auto;
  border-radius: 0px;
  background-color: rgb(76, 126, 202);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  box-shadow: 2px 2px 8px rgb(35, 65, 109);
}
.title {
  text-align: center;
  margin-top: 140px;
}
.newtoresume {
  margin-top: 7px;
}
.righttext {
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 800px;
  width: 40%;
  text-align: center;
}
.leftimage {
  max-width: 100%;
  height: auto;
  position: absolute;
  right: 70px;
  top: 700px;
  display: inline-block;
}
.righttext2 {
  width: 40%;
  height: auto;
  position: absolute;
  right: 70px;
  top: 1160px;
  display: inline-block;
  text-align: center;
}
.leftimage2 {
  width: 33%;
  height: auto;
  position: absolute;
  left: 100px;
  top: 1060px;
  display: inline-block;
  opacity: 75%;
}
.righttext3 {
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 1500px;
  width: 40%;
  text-align: center;
}
.leftimage3 {
  width: 33%;
  height: auto;
  position: absolute;
  right: 70px;
  top: 1400px;
  display: inline-block;
}

.righttext4 {
  position: absolute;
  top: 1850px;
  left: 145px;
  width: 80%;
  text-align: center;
}
.leftimage4 {
  width: 50%;
  position: absolute;
  top: 2000px;
  display: block;
  left: 350px;
  text-align: center;
}
.create {
  position: absolute;
  top: 2450px;
  display: block;
  left: 600px;
  text-align: center;
}
.create a {
  border-radius: 20px;
  text-decoration: none;
}
.create a:hover {
  box-shadow: 2px 2px 8px rgb(35, 65, 109);
}
.foot {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(0, 81, 255, 0.03)
  );
  position: absolute;
  top: 2560px;
  width: 100%;
}
footer {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 40px;
  background-color: rgba(0, 38, 255, 0.4);
}
.box2 div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 60px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 255, 13, 0.4);
}
.box3 div {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: transparent;
  border-radius: 200px;
  background-color: rgba(0, 38, 255, 0.05);
}
.box div:nth-child(1) {
  top: 12%;
  left: 25%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 20%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(1) {
  top: 4%;
  left: 10%;
  animation: animate 10s linear infinite;
}
.box2 div:nth-child(2) {
  top: 27%;
  left: 67%;
  animation: animate 17s linear infinite;
}
.box2 div:nth-child(3) {
  top: 90%;
  left: 5%;
  animation: animate 12s linear infinite;
}
.box2 div:nth-child(4) {
  top: 50%;
  left: 23%;
  animation: animate 13s linear infinite;
}
.box2 div:nth-child(5) {
  top: 40%;
  left: 37%;
  animation: animate 6s linear infinite;
}
.box2 div:nth-child(6) {
  top: 60%;
  left: 70%;
  animation: animate 4s linear infinite;
}
.box2 div:nth-child(7) {
  top: 77%;
  left: 59%;
  animation: animate 9s linear infinite;
}
.box2 div:nth-child(8) {
  top: 98%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(9) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}
.box2 div:nth-child(10) {
  top: 70%;
  left: 50%;
  animation: animate 10s linear infinite;
}
.box3 div:nth-child(1) {
  top: 100%;
  left: 7%;
  animation: animate 20s linear infinite;
}
.box3 div:nth-child(2) {
  top: 194%;
  left: 7%;
  animation: animate 20s linear infinite;
}
.box3 div:nth-child(3) {
  top: 260%;
  left: 70%;
  animation: animate 20s linear infinite;
}
.box3 div:nth-child(4) {
  top: 145%;
  left: 55%;
  animation: animate 20s linear infinite;
}
.box3 div:nth-child(5) {
  top: 285%;
  left: 55%;
  animation: animate 20s linear infinite;
}
.box3 div:nth-child(6) {
  top: 170%;
  left: 35%;
  animation: animate 10s linear infinite;
}
.box3 div:nth-child(7) {
  top: 280%;
  left: 75%;
  animation: animate 15s linear infinite;
}
.box3 div:nth-child(8) {
  top: 230%;
  left: 1%;
  animation: animate 7s linear infinite;
}
.box3 div:nth-child(9) {
  top: 280%;
  left: 1%;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0.02) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.7) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

.back {
  z-index: -1;
}
