<style>
  body {
    font-family: "Montserrat", sans-serif;
    height: 200px;
    font-weight: 900;
  }

  .left {
    border-bottom: 1px solid rgba(107, 133, 248, 0.25);
    width: 28%;
    float: left;
    padding: 10px;
    height: 700px;
    margin-bottom: 60px;
    background-color: rgb(0, 28, 56);
    color: white;
  }

  .right {
    border-right: 1px solid rgba(0, 15, 65, 0.25);
    border-bottom: 1px solid rgba(0, 15, 65, 0.25);
    border-top: 1px solid rgba(0, 15, 65, 0.25);
    width: 72%;
    float: right;
    padding: 10px;
    height: 700px;
    margin-bottom: 60px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  .outer {
    margin: auto;
    width: 80%;
    /* box-shadow: 10px 20px 30px rgba(0, 13, 54, 0.1); */
    height: 700px;
  }
</style>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <br />
  <div #contentToConvert class="outer">
    <div class="left">
      <h1>{{ data.firstname }} {{ data.lastname }}</h1>

      <h4>{{ data.profession }}</h4>
      <br /><br />

      <div class="contact">
        <h4 style="
              background-image: linear-gradient(
                to left,
                rgba(38, 0, 255, 0),
                rgba(0, 89, 255, 0.2)
              );
            ">
          Contact
        </h4>
        <br />
        <h5>Address</h5>
        <p>{{ data.address }}</p>
        <h5>Phone</h5>
        <p>{{ data.phone }}</p>
        <h5>Email</h5>
        <p>{{ data.email }}</p>
        <br />
      </div>
      <br />
      <div class="skills">
        <h4 style="
              background-image: linear-gradient(
                to left,
                rgba(0, 68, 255, 0),
                rgba(0, 89, 255, 0.2)
              );
            ">
          Skills
        </h4>
        <p>{{ data.skills }}</p>

      </div>
    </div>
    <div class="right">
      <br />
      <div class="intro">
        <p>{{ data.intro }}</p>
      </div>
      <br /><br />

      <div class="education" *ngFor="let edu of data.education">
        <hr />
        <h4 style="
              background-image: linear-gradient(
                to right,
                rgba(0, 81, 255, 0),
                rgba(0, 89, 255, 0.2)
              );
            ">
          Education
        </h4>

        <p>{{ edu.school }}</p>
        <p>{{ edu.year }}</p>
        <p>{{ edu.degree }}</p>
      </div>
      <div class="projects" *ngFor="let pro of data.projects">
        <h4 style="
              background-image: linear-gradient(
                to right,
                rgba(0, 4, 255, 0),
                rgba(0, 89, 255, 0.2)
              );
            ">
          Projects
        </h4>

        <h2>{{ pro.title }}</h2>
        <p>{{ pro.work }}</p>

      </div>

    </div>

  </div>
  <button title="Download Resume" class="downloadbtn" style="border: none;" type="button"
    (click)="downloadPdf()">Download Resume</button>

  <div class="foot">
    <footer>&copy; resume.com 2021</footer>
  </div>

  <script>
    const button = document.querySelector("button");
    const bgEl = document.querySelector("body");
    button.addEventListener("click", () => {
      let color = "#";
      color += Math.random().toString(16).slice(2, 10).toUpperCase();
      bgEl.style.backgroundColor = color;
    });
  </script>
</body>