<div class="block">
  <img class="image"
    src="https://stories.freepiklabs.com/storage/26838/oops-404-error-with-a-broken-robot-pana-2854.png"
    alt="broken robot">
</div>
<mat-card
  style="box-shadow: none; border-top-right-radius: 60px;border-top-left-radius: 60px;font-family: 'Montserrat', sans-serif; ">
  <h3>
    <mat-error style="color: black;">The page you were looking for could not be found or does not exist.</mat-error>
  </h3>
  <div class="navigate">
    <button mat-raised-button color="accent" type="submit" routerLink="/login"
      style="margin-left: 120px; margin-top: 10px; border-radius: 0px; background-color: rgba(255, 114, 93, 0.7);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;width: 200px;font-family: 'Montserrat', sans-serif;">Back
      to Home ---></button>
  </div>
</mat-card>