<style>
  mat-card {
    font-family: "Montserrat", sans-serif;
    border-radius: 1px;
    height: 200px;
  }
</style>
<div class="motto">
  <h1 style="
      font-family: 'Montserrat', sans-serif;
      color: rgb(0, 21, 41);
      font-weight: 900;
    ">
    Welcome {{ data.firstName }}
  </h1>
  <p style="font-size: 15px">We are happy to have you.</p>
  <hr />
</div>
<div class="motto2">
  <h4 style="text-align: center; font-weight: bold">Who is resume.com for?</h4>
  <br />
  <p style="font-size: 15px">
    <span style="font-size: 18px; font-weight: bolder"> resume.com </span>is a
    tool for anyone tired of fighting with formatting their application document
    in a word processor. It’s even more valuable to job seekers pressed for time
    or worried about how the wording of their resume reflects on them as
    candidates. resume.com can dramatically cut down on the time it would take
    to create a resume on your own. We’ve heard success stories from job seekers
    in all industries. Interns, juniors, mid-level staff, all the way to c-suite
    executives. Even students writing resumes for college applications.
  </p>
</div>
<div class="container">
  <div class="words"></div>
  <div class="arrow bounce"><i class="far fa-hand-point-up" style="font-size: 25px;"></i></div>
</div>
<div class="leftdiv">
  <img class="leftimage"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-3-2@3x.jpg" alt="">
</div>
<div class="rightdiv">
  <img class="rightimage"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-3-1@3x.png" alt="">
</div>
<div class="createbtn">
  <a class="btn" routerLink="/resume">Create Resume Now</a>
</div>
<div class="leftdiv2">
  <img class="leftimage2"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-2@3x.png" alt="">
</div>
<div class="righttext">
  <h3 style="font-weight: 900;">Get it done with resume.com</h3>
  <p>resume.com. The solution you needed, but didn’t know about. Your resume will finally show your potential.
    Personalize dozens of resume templates.
    Get read-to-use suggestions—just pick and drop like online shopping. Impress recruiters with a professional design.
    Prove to employers who you are—the best candidate for the job.
  </p>
</div>


<div class="foot">
  <footer>
    &copy; resume.com 2021
  </footer>
</div>


<div class="box">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="box2">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>