<div class="imagediv">
    <img src="https://arghaa.com/assets/images/newphotos/seekers.png" alt="" class="image1">
</div>

<div class="motto">
    <h1 style=" font-family: 'Montserrat', sans-serif;color: rgb(28, 57, 100); font-weight:900;text-align: center;">
        Search your resume
    </h1>
    <br>
</div>
<mat-card style="box-shadow: none; border-top-right-radius: 60px;border-top-left-radius: 60px;">
    <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
        <mat-form-field style=" font-family: 'Montserrat', sans-serif;">
            <input type="search" name="email" placeholder="Enter your email to search resume" matInput ngModel
                required />
        </mat-form-field><br />
        <button class="searchbtn" mat-raised-button color="primary" type="submit">Search</button>
    </form>
</mat-card>
<div class="motto2">
    <p style="font-size: 15px;"> Now that you have filled in your details, you are just one step away from viewing your
        job acceptance document.<strong style="color: rgb(0, 0, 0);"> resume.com </strong>takes all your information and
        puts that information in a
        presentable manner, so that it looks appealing to the
        third eye.
    </p>
</div>
<div class="foot">
    <footer>&copy; resume.com 2021</footer>
</div>
<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="box2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>