mat-card {
  background-color: transparent;
  width: 25%;
  margin: auto;
  /* margin-top: 10rem; */
}
.motto {
  text-align: center;
  float: left;
  margin-left: 400px;
  width: 34%;
}
.motto2 {
  text-align: justify;
  float: left;
  margin-top: 50px;
  margin-left: 400px;
  width: 34%;
}
button:hover {
  box-shadow: 2px 2px 8px rgba(0, 89, 255, 0.568);
}
mat-form-field {
  width: 100%;
  /* background-color: rgba(255, 255, 255); */
  background-color: transparent;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 250%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 0.6, 0.1) 0%,
    rgba(9, 9, 121, 0.1) 35%,
    rgba(0, 212, 255, 0.1) 100%
  );
}
.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 40px;
  background-color: rgba(0, 183, 255, 0.5);
}
.box2 div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid rgba(150, 151, 73, 0.2);
  background-color: rgba(115, 255, 0, 0.3);
}
.box div:nth-child(1) {
  top: 12%;
  left: 25%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 20%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(1) {
  top: 4%;
  left: 10%;
  animation: animate 10s linear infinite;
}
.box2 div:nth-child(2) {
  top: 27%;
  left: 67%;
  animation: animate 17s linear infinite;
}
.box2 div:nth-child(3) {
  top: 90%;
  left: 5%;
  animation: animate 12s linear infinite;
}
.box2 div:nth-child(4) {
  top: 50%;
  left: 23%;
  animation: animate 13s linear infinite;
}
.box2 div:nth-child(5) {
  top: 40%;
  left: 30%;
  animation: animate 6s linear infinite;
}
.box2 div:nth-child(6) {
  top: 60%;
  left: 70%;
  animation: animate 4s linear infinite;
}
.box2 div:nth-child(7) {
  top: 77%;
  left: 59%;
  animation: animate 9s linear infinite;
}
.box2 div:nth-child(8) {
  top: 98%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(9) {
  top: 20%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box2 div:nth-child(10) {
  top: 70%;
  left: 90%;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
