* {
  color: rgb(0, 21, 41);
}
mat-card {
  width: auto;
  padding: 10px;
  margin: auto;
  text-align: center;
}
button:hover {
  box-shadow: 2px 2px 8px rgb(35, 65, 109);
}
mat-form-field {
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  background-color: transparent;
}
.registerbutton {
  margin: auto;
  border-radius: 0px;
  background-color: #3f51b5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  font-family: "Montserrat", sans-serif;
}
.title2 {
  text-align: center;
  margin-top: 140px;
}
.middletext {
  margin-top: 100px;
  text-align: center;
}
.middleimage {
  width: 60%;
  height: auto;
  position: absolute;
  top: 1050px;
  display: block;
  left: 340px;
}
.lefttext {
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 1800px;
  width: 40%;
  text-align: center;
}
.leftimage {
  width: 40%;
  height: auto;
  position: absolute;
  right: 90px;
  top: 1750px;
  display: inline-block;
}
.righttext {
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 2400px;
  width: 40%;
  text-align: center;
}
.rightimage {
  width: 40%;
  height: auto;
  position: absolute;
  left: 90px;
  top: 2250px;
  display: inline-block;
}
.create2 {
  position: absolute;
  top: 2600px;
  display: block;
  left: 970px;
  text-align: center;
}
.create2 a {
  border-radius: 20px;
  text-decoration: none;
}
.create2 a:hover {
  box-shadow: 2px 2px 8px rgb(35, 65, 109);
  zoom: normal;
}
.foot {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(0, 81, 255, 0.03)
  );
  position: absolute;
  top: 2800px;
  width: 100%;
}
footer {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 40px;
  background-color: rgba(51, 255, 0, 0.4);
}
.box2 div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border-radius: 60px;
  /* border: 1px solid rgba(150, 151, 73, 0.2); */
  background-color: rgba(0, 68, 255, 0.25);
}
.box div:nth-child(1) {
  top: 12%;
  left: 25%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 20%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(1) {
  top: 4%;
  left: 10%;
  animation: animate 10s linear infinite;
}
.box2 div:nth-child(2) {
  top: 27%;
  left: 67%;
  animation: animate 17s linear infinite;
}
.box2 div:nth-child(3) {
  top: 90%;
  left: 5%;
  animation: animate 12s linear infinite;
}
.box2 div:nth-child(4) {
  top: 50%;
  left: 23%;
  animation: animate 13s linear infinite;
}
.box2 div:nth-child(5) {
  top: 40%;
  left: 37%;
  animation: animate 6s linear infinite;
}
.box2 div:nth-child(6) {
  top: 60%;
  left: 70%;
  animation: animate 4s linear infinite;
}
.box2 div:nth-child(7) {
  top: 77%;
  left: 59%;
  animation: animate 9s linear infinite;
}
.box2 div:nth-child(8) {
  top: 98%;
  left: 80%;
  animation: animate 5s linear infinite;
}
.box2 div:nth-child(9) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}
.box2 div:nth-child(10) {
  top: 70%;
  left: 50%;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0.02) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.6) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
