<div class="title2" id="Up">
  <h1 style="font-weight: 900">Build a resume that gets you hired—</h1>
  <p style="margin-top: 30px">
    You’re a lot of things. But you don’t have to be a resume writer. Don’t let
    your resume hold you back. With the <strong> resume.com </strong>editor,
    you’ll create a document that gives you the confidence you deserve:
  </p>
</div>

<mat-card style="
    box-shadow: none;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 116, 233, 0.04)
    );
  ">
  <form (submit)="onRegister(signupform)" #signupform="ngForm">
    <mat-form-field style="margin-top: 30px; font-family: 'Montserrat', sans-serif">
      <input type="text" matInput ngModel placeholder="First Name" name="fname" required #fname="ngModel" />
      <mat-error *ngIf="fname.invalid">Enter valid name</mat-error>
    </mat-form-field><br />
    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input type="text" matInput ngModel placeholder="Last Name" name="lname" #lname="ngModel" />
      <mat-error *ngIf="lname.invalid">Enter valid name</mat-error>
    </mat-form-field><br />
    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input type="email" matInput ngModel email placeholder="Email" name="email" required #email="ngModel" />
      <mat-error *ngIf="email.invalid">Enter valid email</mat-error>
    </mat-form-field><br />

    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input style="font-family: 'Montserrat', sans-serif" type="tel" matInput ngModel name="phone"
        placeholder="Phone Number" #phone="ngModel" />
      <mat-error style="font-family: 'Montserrat', sans-serif" *ngIf="phone.invalid">Enter valid phone number
      </mat-error>
    </mat-form-field><br />
    <div class="radio-inline" style="font-family: 'Montserrat', sans-serif">
      <input type="radio" ngModel name="gender" value="male" />Male
    </div>
    <div class="radio-inline" style="font-family: 'Montserrat', sans-serif">
      <input type="radio" ngModel name="gender" value="female" />Female<br />
    </div>
    <br />
    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input type="number" name="age" ngModel matInput placeholder="Age" #age="ngModel" />
      <mat-error *ngIf="age.invalid">Enter valid age</mat-error>
    </mat-form-field><br />

    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input type="password" name="pass" matInput ngModel placeholder="Password" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #pass="ngModel" />
      <mat-error *ngIf="pass.invalid">Enter valid password</mat-error>
    </mat-form-field><br />
    <mat-form-field style="font-family: 'Montserrat', sans-serif">
      <input type="password" matInput ngModel name="cpass" placeholder="Confirm Password" required #cpass="ngModel" />
      <mat-error *ngIf="cpass.invalid">Passwords don't match</mat-error>
    </mat-form-field><br />
    <button class="registerbutton" mat-raised-button color="primary" type="submit">
      Create Account
    </button>
  </form>
</mat-card>

<div class="middletext">
  <h3 style="font-weight: 900">Best resume templates for a job or academia</h3>
  <p>
    A resume template is a blank form you fill in with contact information, work
    experience, skills, and education. Easier said than done. Most free MS Word
    resume template formats fall apart as soon as you start typing. But not
    <strong> resume.com</strong>. Pick <strong> resume.com</strong> and stop
    struggling. Focus on what matters: telling your story in a way that gets you
    the job.
  </p>
</div>
<div class="middleimagediv">
  <img class="middleimage"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-1@2x.png" alt="" />
</div>

<div class="lefttext">
  <h3 style="font-weight: 900">Attractive design</h3>
  <p>
    Each resume format template is designed to draw attention to your assets.
    Highlight your career summary to hook the employer. Use icons to save
    valuable space. Pick a single or two column design to balance whitespace and
    wordcount. Show your mastery of skills by using graphs. Fit two pages on
    one.
  </p>
</div>

<div class="leftimagediv">
  <img class="leftimage"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-2@2x.png" alt="" />
</div>

<div class="righttext">
  <h3 style="font-weight: 900">Ease of use</h3>
  <p>
    Go beyond downloadable resume templates that never seem to work. Pick a
    design you like, focus on the content, and let resume.com take care of the
    rest. Our resume wizard will guide you through the process with helpful tips
    and examples. Building a resume with resume.com is as simple as online
    shopping—just click an item you like and put in on your resume.
  </p>
</div>

<div class="rightimagediv">
  <img class="rightimage"
    src="https://cdn-images.zety.com/images/zety/landings/templates/resume-templates-two-column-5@2x.png" alt="" />
</div>

<div class="create2">
  <a class="createbtn" mat-raised-button color="primary" href="#Up">Create Your Resume Now</a>
</div>

<div class="foot">
  <footer>&copy; resume.com 2021</footer>
</div>

<div class="box">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="box2">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>